/* App.css */


* {
  font-family: 'Futura', sans-serif;  
}


.App {
  text-align: center;
  background-color: white;  
  min-height: 100vh; 
  display: flex;
  justify-content: center;  
  align-items: center;  
}


.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
}

.App-button {
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
  background-color: black; 
  color: white; 
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
/* Button hover effect */
.App-button:hover {
  background-color: gray;
}
